<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! <script>
      // Render blocking JS:
      document.documentElement.setAttribute("darkMode", true);
    </script> }}
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="/images/favicon.ico">
    <title>GA02 | {{title}}</title>
  </head>

  <body
    x-cloak
    x-data="{ 'page': '{{title}}', 'loaded': true, 'darkMode': $persist(false), 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}"
  >

    <!-- ===== Page Wrapper Start ===== -->
    <div class="flex h-screen overflow-hidden">

      <!-- ===== Content Area Start ===== -->
      <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
      >
        <!-- ===== Header Start ===== -->
        {{> header}}
        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        {{{body}}}
        <!-- ===== Main Content End ===== -->
      </div>
      <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->

    <!-- Alpine Plugins -->
    <script
      src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- Alpine Core -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

  </body>
</html>